<div class="indexInfo">
	<div class="indexHeader">
	<h1>Burts Sporting Goods</h1>
	<p>Welcome to our one-stop shop for all of your sporting good needs.</p>
	</div>

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!--Indicator -->
		<ol class="carousel-indicators" id="indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="container-fluid" id="carouselContainer">
			<div class="carousel-inner mainCarousel" role="listbox">
				<div class="item active">
					<%= image_tag 'fitnessgear4.jpg', class:'img-responsive'%>
					<div class="carousel-caption">
						<button type="button" class="buttonClass">
							Shop Fitness Gear
						</button>
					</div>
				</div><!--end fitness carousel-->
				<div class="item">
					<%= image_tag 'sporting2.jpg', class:'img-responsive'%>
					<div class="carousel-caption">
						<button type="button" class="buttonClass">
							Shop Sports Gear
						</button>
					</div>
				</div><!--end sporting carousel-->
				<div class="item">
					<%= image_tag 'huntinggear3.jpg', class:'img-responsive' %>
					<div class="carousel-caption">
						<button type="button" class="buttonClass">
							Shop Hunting 
						</button>
					</div>
				</div>			
			</div><!--end carousel-inner-->
		</div><!--end container-fluid-->

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>


</div>

