<div class="container-fluid productTable">
  <p id="notice"><%= notice %></p>  
  <div class="row" id="myProduct">
    <%= render @products %>   
  </div>
  <br>
  <%= link_to 'New Product', new_product_path %>
</div>

