<div class="container-fluid productTable">
  <p id="notice"><%= notice %></p>  
  <div class="row" id="myProduct">
    
  <% cache(cache_key_for_products) do %>
    <%= render @products %>   

  <% end %>
  
  </div>
  <br>
</div>